/* Adjacent Selectors */

#all-articles h2+p {
    color: green;
}

/* Adjacent Selectors */

/* Attribute Selectors */

span[class~="deck"] {
    color: red;
}

div[id] {
    background-color: gray;
}

a[title="google"] {
    color: aquamarine;
}

/* ends with pdf */

a[href$="pdf"] {
    color: yellowgreen;
}

/* starts with http */

a[href^="http"] {
    color: royalblue;
}

/* Attribute Selectors */

/* Pseudo Selectors */

/* Otherwise, say if you listed the :visited style last, if that link was visited it would override the :active and :hover declaration and the link would always be purple regardless if you were hovering or if the link was active (not ideal). */

a:link {
    /* Essentially means a[href], or that the link actually goes somewhere */
    color: yellowgreen;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

#main-content:hover {
    background-color: blueviolet;
}

/* Pseudo Selectors */

/* First & Last Child Selectors */
article p:first-child {
    font-weight: bold;
}

article p:last-child {
    color: blue;
}
/* First & Last Child Selectors */

/* :first-child will only try to match the immediate first child of a parent element, while first-of-type will match the first occurrence of a specified element, even if it doesn't come absolutely first in the HTML. */
article p:first-of-type {
    font-weight: bold;
}

article p:last-of-type {
    color: blue;
}

/* First & Last of Type Selectors */

/* Text Decoration */
article {
    text-decoration: overline;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: normal;
}

p {
    font-weight: lighter;
}

/* Text Transform */
#main-content p {
    text-transform: capitalize;
}

body > p {
    text-transform: uppercase;
}

/* Text Colour */
#main-content p {
    color: chocolate;
}

/* Styling Links  */
a {
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
    background-color: aquamarine;
}

/* Letter Spacing & Line Height */

p {
    font-size: 12px;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;
    line-height: 2em;
}
