/* Adjacent Selectors */
#all-articles h2 + p {
    color: green;
}
/* Adjacent Selectors */

/* Attribute Selectors */

span[class~="deck"] {
    color: red;
}

div[id] {
    background-color: gray;
}

a[title="google"] {
    color: aquamarine;
}

/* ends with pdf */
a[href$="pdf"] { 
    color: yellowgreen;
}

/* starts with http */
a[href^="http"] { 
    color: royalblue;
}

/* Attribute Selectors */

/* Pseudo Selectors */
a:hover {
    color: red;
}

#main-content:hover{
    background-color: blueviolet;
}

/* Pseudo Selectors */
