/* Paragraph Spacing */

p {
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 32px;
}

/* The Box Model */

.box {
    margin: 30px 10px;
    padding: 30px;
    border: 1px solid #000;
    width: 400px;
    height: 200px;
}

.small {
    padding-left: 10px;
}

.free-box {
    margin: 30px auto;
    padding: 30px 20%;
    border: 1px solid #000;
}

.free-box-width {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 30px;
    border: 1px solid #000;
    width: 100%;
}

.box-middle {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #000;
    width: 500px;
    height: 200px;
}

.box-middle-responsive {
    margin: 30px 25%;
    border: 1px solid #000;
    width: 50%;
    height: 200px;
}

.new-box {
    margin: 30px;
    padding: 30px;
    float: left;
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: blue;
}

.dashed {
    border: 10px blue dashed;
}

.dotted {
    border: 10px greenyellow dotted;
}

.double {
    border: 10px blue double;
}

.groove {
    border: 10px blue groove;
}

.inset {
    border: 10px blue inset;
}

.outset {
    border: 10px blue outset;
}

.ridge {
    border: 10px blue ridge;
}

.solid {
    border: 10px blue solid;
}

/* Block-level Elements */

.block {
    padding: 10px;
    margin: 10px;
    border: 1px solid green;
}

.inline {
    padding: 10px;
    margin: 10px;
    border: 1px solid green;
    display: inline-block;
}

a {
    padding: 10px;
    margin: 10px;
    background-color: green;
    border: 1px solid blue;
    color: white;
    text-decoration: none;
    display: inline-block;
}

/* Width & Height */

.static-width {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: green;
    margin: 20px;
    color: white;
    text-align: center;
}

.percentage-width {
    width: 70%;
    height: 100px;
    background-image: url(https://raw.githubusercontent.com/LinLiuLY/react-redux-demo/master/public/favicon.ico);
    background-repeat: no-repeat;
    background-color: gray;
    background-position: center;
    background-size: 100px;
    color: white;
    border-radius: 10px 50px;
}

.inline-block {
    width: 40%;
    display: inline-block;
    background-color: rgb(255, 255, 55);
    margin: 20px;
    color: white;
    border-radius: 50px;
}

/* Multiple Backgrounds */

.banner {
    background-color: #500000;
    width: 100%;
    height: 300px;
    background-image: url(https://raw.githubusercontent.com/LinLiuLY/react-redux-demo/master/src/pokeball.png), url(https://raw.githubusercontent.com/LinLiuLY/react-redux-demo/master/public/favicon.ico);
    background-repeat: no-repeat;
    background-position: center, top right;
    background-size: 50px, 10%;
}

/* Opacity */

.circle-1 {
    width: 100px;
    height: 100px;
    background-color: green;
    top: 350px;
    left: 320px;
    position: absolute;
    border-radius: 50px;
    color: white;
    text-align: center;
    display: inline-block;
    opacity: 1;
}

.circle-2 {
    width: 100px;
    height: 100px;
    background-color: green;
    top: 250px;
    left: 320px;
    position: absolute;
    border-radius: 50px;
    color: white;
    text-align: center;
    display: inline-block;
    opacity: 0.5;
}

.circle-3 {
    width: 100px;
    height: 100px;
    background-color: rgba(100, 200, 200, 0.1);
    top: 150px;
    left: 320px;
    position: absolute;
    border-radius: 50px;
    color: black;
    text-align: center;
    display: inline-block;
}