/* Inheritance */

body {
    color: red;
}

div {
    color: blue;
}

p {
    color: green;
}

a {
    color: darkorange;
    text-decoration: underline;
}

/* Inheritance */

/* Style all p tags */

p {
    font-size: 12px;
}

#header p {
    font-size: 24px;
}

/* Style all header tags */

h1 {
    font-size: 44px;
}

#header h1 {
    font-size: 32px;
}

#header {
    width: 100%;
    background-color: aqua;
    left: 0;
    top: 0;
}

/* CSS Conflicts & the Cascade */

span {
    display: block;
    color: green;
    text-transform: uppercase;
}

span {
    color: grey;
}

/* CSS Conflicts & the Cascade */

h2 {
    font-size: 26px;
}

#content-header {
    font-size: 10px;
    color: blueviolet;
}

.deck {
    color: red;
}

/* Selector Specificty */

#main-content p {
    color: tan;
}

p {
    color: black;
}

.test {
    color: blueviolet;
}

strong {
    color: black;
}

/* Selector Specificty */

/* The Important Declaration */

/* p {
    color: red !important;
} */

/* The Important Declaration */

/* Targeting Multiple Elements */
p, span, a, li {
    color: yellowgreen;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
}
/* Targeting Multiple Elements */

/* Descendant Selectors */
#sub-content p {
    color: red;
}

/* Descendant Selectors */