/* nth Child Selectors */

li:nth-child(1), li:nth-child(7) {
    color: green;
}

li:nth-child(even) {
    color: orange;
}

li:nth-child(odd) {
    color: blue;
}

li:nth-child(2n+1) {
    color: blue;
}

/* nth of Type Selectors */

article:nth-of-type(1) {
    color: red;
}