/* nth Child Selectors */

li:nth-child(1), li:nth-child(7) {
    color: green;
}

li:nth-child(even) {
    color: orange;
}

li:nth-child(odd) {
    color: blue;
}

li:nth-child(2n+1) {
    color: blue;
}

/* nth of Type Selectors */

article:nth-of-type(1) {
    color: red;
}

/* Combining Selectors */

article.featured-content {
    background: red;
}

div.featured-content {
    background: blue;
}

/* The Universal Selector */

* {
    color: black;
    margin: 0;
    padding: 0;
}

/* The Universal Selector */

/* Font Size */

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 13px;
}

article {
    font-size: 16px;
}
/* The em unit is a relative unit based on the computed value of the font size of the parent element.  */
article h2 {
    font-size: 4em; 
}

article p {
    font-size: 500%;
}

/* Font Size */